  <div class="row">
    <div class="col s12">
        <br>
        <%= link_to new_event_path, class: "waves-effect waves-light btn yellow lighten-2 black-text" do %>
            <i class="fas fa-plus"></i> イベントを追加
        <% end %>
        <table class="highlight">
            <thead>
                <tr>
                    <th>日付</th>
                    <th>イベント名</th>
                </tr>
            </thead>
            <tbody>
                <% @events.each do |event| %>
                    <tr onclick='window.location.href="<%= event_path(event) %>"' role="link">
                        <td> <%= event.date %> </td>
                        <td> <%= event.title + "(" + event.pokemon + ")" %> </td>
                    </tr>
                <% end %>
            </tbody>
      </table>
    </div>
  </div>
            
