<h5>イベントを作成する</h5>

<div class="row">
<form class="col s12">
    <div class="row">
        <div class="input-field col s12">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">イベント名</label>
        </div>
        <div class="input-field col s12">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">ポケモン名</label>
        </div>
        <div class="input-field col s12">
            <input id="datepick" type="text" class="datepicker">
            <label for="datepick">開催日</label>
        </div>
        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">イベント説明文</label>
        </div>
        <div class="col s12　offset-s6">
            <a class="waves-effect waves-light btn">登録</a>
        </div>
    </div>
</form>
</div>
