@import "materialize/components/color-variables";
$primary-color: color("yellow", "base") !default;
$secondary-color: color("orange", "base") !default;
@import "materialize";
@import 'font-awesome-sprockets';
@import 'font-awesome';
tr {
    cursor: pointer;
  }
  .my-blue {color: rgba(0, 162, 255, 0.925)}
  .my-red {color: rgba(192, 10, 10, 0.822)}