@import "materialize/components/color-variables";
$primary-color: color("yellow", "base") !default;
$secondary-color: color("orange", "base") !default;
@import "materialize";
@import 'font-awesome-sprockets';
@import 'font-awesome';
tr {
    cursor: pointer;
  }